<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a href="./index.html" class="header-logo">
        <svg class="logo-icon" width="40" height="31">
          <use href="../img/logo.svg#icon-book"></use></svg
        >Finance<span class="header-logo-accent">Ledger</span></a
      >
      <ul class="nav-list">
        <li>
          <a href="./index.html" class="nav-link">Home</a>
        </li>
        <li><a href="" class="nav-link">About</a></li>
        <li><a href="" class="nav-link">Cases</a></li>
        <li><a href="" class="nav-link">Blog</a></li>
        <li><a href="" class="nav-link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
