<section class="solution">
  <div class="container">
    <img
      src="../img/rectangle.jpg"
      alt="Six people are standing by the table"
      width="680"
      class="solution-image"
    />
    <div class="content-container">
      <p class="intro-text">What you are looking for</p>
      <h2 class="main-heading">We provide bespoke solutions</h2>
      <p class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="read-more-button" type="submit">Read More</button>
    </div>
  </div>
</section>
